header {
    position: fixed;
}

.red {
    color: rgb(47, 0, 255);
}

a {
    text-decoration: none;
    color: rgb(0, 81, 255);
}

.button {
    border: 2px solid rgb(47, 0, 255);
    height: 70px;
    width: 120px;
    background-color: rgba(0, 238, 255, 0.726);
    text-align: center;
}

.button1,
.button2,
.button3,
.button4,
.button5,
.button6 {
    border: 2px solid rgb(47, 0, 255);
    height: 70px;
    width: 120px;
    background-color: rgba(0, 238, 255, 0.726);
    text-align: center;
    position: absolute;
    left: 200px;
    top: 231px;
}

.button2 {
    position: absolute;
    left: 1100px;
    top: 231px;
}

.button4 {
    position: absolute;
    left: 400px;
}

.button5 {
    position: absolute;
    left: 800px;
}

.button6 {
    position: absolute;
    left: 1000px;
}

body {
    background-image: url('/resourses/fon.jpg');
    background-attachment: fixed;
    background-size: 100%;
}

.about1 {
    background-color: rgba(0, 255, 255, 0.295);
    border: 2px solid rgba(92, 49, 49, 0.37);
    height: 1110px;
    width: 500px;
    position: absolute;
    left: 460px;
    top: 50px;
    right: auto;
    text-align: justify;
    padding: 30px 30px 30px 30px;
    margin: 30px 30px 30px 30px;
}

.about2,
.about3,
.about4,
.about5,
.about6,
.about7,
.about8 {
    border: 2px solid rgba(58, 40, 40, 0.37);
    height: 250px;
    width: 500px;
    position: absolute;
    top: auto;
    left: 460px;
    top: 50px;
    right: auto;
    text-align: justify;
    padding: 30px 30px 30px 30px;
    margin: 30px 30px 30px 30px;
}

.text1 {
    background-color: rgba(0, 255, 255, 0.295);
}

p {
    user-select: none;
}

.alex {
    border: 2px solid rgb(47, 0, 255);
    position: absolute;
    left: 150px;
    top: 60px;
}

.button1 {
    position: absolute;
    left: 150px;
    height: 70px;
    width: 300px;
}

.steave {
    border: 2px solid rgb(47, 0, 255);
    position: absolute;
    left: 1100px;
    top: 27px;
    height: 200px;
    width: 120px;
}

.about3 {
    background-color: rgba(0, 255, 255, 0.295);
    height: 500px;
}

.about4 {
    background-color: rgba(0, 255, 255, 0.295);
    height: 150px;
}

.bobby {
    height: 300px;
    position: absolute;
    left: 150px;
    top: 300px;
}

.about5 {
    height: 8260px;
    background-color: rgba(0, 255, 255, 0.295);
}

hr {
    height: 10px;
    background-color: red;
}

.cassa {
    height: 300px;
    width: 123px;
    position: absolute;
    left: 400px;
    top: 300px;
}

.about6 {
    height: 1600px;
    background-color: rgba(0, 255, 255, 0.295);
}

.cassa2 {
    height: 300px;
}

.hero {
    width: 124px;
    height: 300px;
    position: absolute;
    left: 800px;
    top: 300px;
}

.about7 {
    height: 2240px;
    background-color: rgba(0, 255, 255, 0.295);
}

#img {
    width: 500px;
}

.about8 {
    height: 2665px;
    background-color: rgba(0, 255, 255, 0.295);
}

.lucas {
    height: 300px;
    width: 124px;
    position: absolute;
    left: 1000px;
    top: 300px;
}